@import 'variables';
@import 'mixins';

.contact {
  background-color: $oceanic-dark;
  position: relative;

  .container {
    align-items: center;
    margin: 0 auto;
    flex-direction: column;

    .title {
      font-size: clamp(40px, 5vw, 60px);
      color: $lightest-slate;
      font-weight: 600;
    }

    .description {
      text-align: center;
      color: $slate;
      margin: 15px 0;
    }

    .connectBox {
      display: flex;
      flex-wrap: wrap;
      gap: 45px;
      margin: 33px 0;
    }

    .thxImg {
      img {
        height: 300px;
        width: auto;
        margin-bottom: -3px;
      }
    }

  }

  .inspired {
    position: absolute;
    right: -76px;
    height: 0;
    bottom: 119px;
    transform: rotate(270deg);
    font-size: 14px;
    color: $dark-slate;
    @include tablets {
      right: -112px;
    }
    @include phones {
      right: -101px;
    }
  }
}





