@import 'variables';

.contact {
  background-color: $oceanic-dark;

  .container {
    align-items: center;
    margin: 0 auto;
    flex-direction: column;

    .title {
      font-size: clamp(40px, 5vw, 60px);
      color: $lightest-slate;
      font-weight: 600;
    }

    .description {
      text-align: center;
      color: $slate;
      margin: 15px 0;
    }

    .connectBox {
      display: flex;
      flex-wrap: wrap;
      gap: 45px;
      margin: 33px 0;
    }
    .thxImg{
      img{
        height: 300px;
        width: auto;
        margin-bottom: -3px;
      }
    }

  }
}





