@import 'variables';

.skills {
  background-color: var(--oceanic-dark);

  .container {
    justify-content: flex-start;
    margin: 0 auto;
    flex-direction: column;

    .skillBoxes {
      display: grid;
      grid-template-columns: 31.6% 31.6% 31.6%;
      gap: 25px;

      .skillBox {
        border-radius: 5px;
        border: 1px solid var(--dark-slate);
        padding: 15px;

        &:hover {
          background: var(--light-navy);
        }

        .titleSkillBox {
          font-size: var(--fz-lg);
          text-align: right;
          text-transform: uppercase;
          color: var(--green);
        }

        .descriptionSkillBox {
          text-align: right;
          font-size: var(--fz-sm);
          color: var(--dark-slate);
          margin: 5px 0 20px;
        }

        ul {
          list-style: none;
          padding-left: 20px;

          li {
            display: flex;
            align-items: center;
            //margin-bottom: 10px;


            &:last-child {
              margin-bottom: 0px;
            }

            .iconSkill {
              text-align: center;
              margin-right: 5px;
              flex-basis: 45px;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 40px;
            }
            .nameSkill{

            }
          }
        }
      }
    }
  }

  .step4Direction {
    width: 45px;
    height: 282.5px;
    margin-left: 324px;
    margin-top: 45px;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='282.5' viewBox='0 0 45 282.5'%3E%3Cg id='step3Diraction' transform='translate(-752 -2511.25)'%3E%3Cpath id='Контур_10955' data-name='Контур 10955' d='M10.854-9.216a3.215,3.215,0,0,1,2.439.972,3.65,3.65,0,0,1,.927,2.628V0H13.032V-5.616a2.534,2.534,0,0,0-.6-1.809,2.088,2.088,0,0,0-1.593-.639,2.353,2.353,0,0,0-1.809.747,3.341,3.341,0,0,0-.693,2.331V0H7.146V-5.616a2.63,2.63,0,0,0-.567-1.818,1.967,1.967,0,0,0-1.539-.63A2.5,2.5,0,0,0,3.2-7.308a3.162,3.162,0,0,0-.756,2.322V0H1.26V-9H2.448v1.314A3.084,3.084,0,0,1,5.2-9.216,2.794,2.794,0,0,1,7.938-7.578,3.175,3.175,0,0,1,10.854-9.216ZM24.075-1.143A4.6,4.6,0,0,1,20.718.216a4.6,4.6,0,0,1-3.357-1.359A4.53,4.53,0,0,1,15.984-4.5a4.53,4.53,0,0,1,1.377-3.357,4.6,4.6,0,0,1,3.357-1.359,4.6,4.6,0,0,1,3.357,1.359A4.53,4.53,0,0,1,25.452-4.5,4.53,4.53,0,0,1,24.075-1.143ZM18.2-1.971a3.411,3.411,0,0,0,2.52,1.035,3.411,3.411,0,0,0,2.52-1.035A3.456,3.456,0,0,0,24.264-4.5a3.456,3.456,0,0,0-1.026-2.529,3.411,3.411,0,0,0-2.52-1.035A3.411,3.411,0,0,0,18.2-7.029,3.456,3.456,0,0,0,17.172-4.5,3.456,3.456,0,0,0,18.2-1.971ZM33.552-9h1.26l-3.69,9h-1.44l-3.69-9h1.26L30.4-1.242Zm6.5-.216A4.082,4.082,0,0,1,43.281-7.8a4.914,4.914,0,0,1,1.233,3.339q0,.2-.036.558h-7.9a3.228,3.228,0,0,0,1.161,2.169,3.7,3.7,0,0,0,2.421.8,3.54,3.54,0,0,0,1.773-.423,2.854,2.854,0,0,0,1.125-1.107l1.044.612A4.275,4.275,0,0,1,42.48-.342a4.818,4.818,0,0,1-2.34.558,4.676,4.676,0,0,1-3.456-1.332A4.585,4.585,0,0,1,35.352-4.5a4.634,4.634,0,0,1,1.314-3.366A4.515,4.515,0,0,1,40.05-9.216Zm0,1.152a3.414,3.414,0,0,0-2.349.837,3.4,3.4,0,0,0-1.125,2.169H43.29a3.356,3.356,0,0,0-1.1-2.214A3.178,3.178,0,0,0,40.05-8.064ZM58.455-1.143A4.6,4.6,0,0,1,55.1.216a4.6,4.6,0,0,1-3.357-1.359A4.53,4.53,0,0,1,50.364-4.5a4.53,4.53,0,0,1,1.377-3.357A4.6,4.6,0,0,1,55.1-9.216a4.6,4.6,0,0,1,3.357,1.359A4.53,4.53,0,0,1,59.832-4.5,4.53,4.53,0,0,1,58.455-1.143Zm-5.877-.828A3.411,3.411,0,0,0,55.1-.936a3.411,3.411,0,0,0,2.52-1.035A3.456,3.456,0,0,0,58.644-4.5a3.456,3.456,0,0,0-1.026-2.529A3.411,3.411,0,0,0,55.1-8.064a3.411,3.411,0,0,0-2.52,1.035A3.456,3.456,0,0,0,51.552-4.5,3.456,3.456,0,0,0,52.578-1.971ZM66.024-9.216a3.385,3.385,0,0,1,2.583,1,3.756,3.756,0,0,1,.945,2.691V0H68.364V-5.526A2.594,2.594,0,0,0,67.725-7.4a2.389,2.389,0,0,0-1.809-.666,2.832,2.832,0,0,0-2.106.819A3.47,3.47,0,0,0,63-4.716V0H61.812V-9H63v1.4A3.328,3.328,0,0,1,66.024-9.216Z' transform='translate(786.5 2589.75) rotate(90)' fill='%238690ae'/%3E%3Cpath id='Контур_10954' data-name='Контур 10954' d='M0,0V260' transform='translate(774.5 2511.25)' fill='none' stroke='%235ae6c7' stroke-width='1'/%3E%3Cg id='Контур_10953' data-name='Контур 10953' transform='translate(752 2748.75)' fill='none'%3E%3Cpath d='M22.5,0A22.5,22.5,0,1,1,0,22.5,22.5,22.5,0,0,1,22.5,0Z' stroke='none'/%3E%3Cpath d='M 22.5 1 C 19.59708023071289 1 16.78152084350586 1.568321228027344 14.13154029846191 2.689170837402344 C 11.57144927978516 3.771991729736328 9.272048950195312 5.322360992431641 7.297199249267578 7.297199249267578 C 5.322360992431641 9.272048950195312 3.771991729736328 11.57144927978516 2.689170837402344 14.13154029846191 C 1.568321228027344 16.78152084350586 1 19.59708023071289 1 22.5 C 1 25.40291976928711 1.568321228027344 28.21847915649414 2.689170837402344 30.86845970153809 C 3.771991729736328 33.42855072021484 5.322360992431641 35.72795104980469 7.297199249267578 37.70280075073242 C 9.272048950195312 39.67763900756836 11.57144927978516 41.22800827026367 14.13154029846191 42.31082916259766 C 16.78152084350586 43.43167877197266 19.59708023071289 44 22.5 44 C 25.40291976928711 44 28.21847915649414 43.43167877197266 30.86845970153809 42.31082916259766 C 33.42855072021484 41.22800827026367 35.72795104980469 39.67763900756836 37.70280075073242 37.70280075073242 C 39.67763900756836 35.72795104980469 41.22800827026367 33.42855072021484 42.31082916259766 30.86845970153809 C 43.43167877197266 28.21847915649414 44 25.40291976928711 44 22.5 C 44 19.59708023071289 43.43167877197266 16.78152084350586 42.31082916259766 14.13154029846191 C 41.22800827026367 11.57144927978516 39.67763900756836 9.272048950195312 37.70280075073242 7.297199249267578 C 35.72795104980469 5.322360992431641 33.42855072021484 3.771991729736328 30.86845970153809 2.689170837402344 C 28.21847915649414 1.568321228027344 25.40291976928711 1 22.5 1 M 22.5 0 C 34.92641067504883 0 45 10.07358932495117 45 22.5 C 45 34.92641067504883 34.92641067504883 45 22.5 45 C 10.07358932495117 45 0 34.92641067504883 0 22.5 C 0 10.07358932495117 10.07358932495117 0 22.5 0 Z' stroke='none' fill='%235ae6c7'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  }
}




