.about {
    height: 100vh;
}
.container {
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}
.title  {
    font-size: var(--fz-xl);
}
.description{
    max-width: 450px;
    text-align: center;
}
.thxImg img{
    width: 300px;
    margin: 0 auto;
}