.nav {
    display: flex;
    justify-content: space-between;
    width: 450px;
    font-size: 1.1rem;
}

.nav span {
    color: #5AE6C7;
}
.nav span a{
    color: #CCD6F6;
    margin: 0 4px;
    text-decoration: none;
}
.nav span a:hover{
    text-decoration: inherit;
    color: #5AE6C7;
}